@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}

/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-raleway: "Raleway",
        sans-serif;

    --fw-3: 300;
    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;


    --black-color: #000000;
    --white-color: #ffff;
    --img-bg-color: linear-gradient(146.79deg, #F4EAD8 0%, #E0B764 97.77%);
    --body-color: #040410;

    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-64: 64px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-100: 100px;
    --lh-188: 188px;
}

.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-64 {
    line-height: var(--lh-64);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.ff-r {
    font-family: var(--ff-raleway);
}


.black {
    color: var(--black-color);
}

.curser {
    cursor: pointer;
}

.body_color {
    background-color: var(--body-color);
}

/* ==============================containers============================= */
.container_hero {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.in_sec_container {
    max-width: 1058px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.container_partner {
    max-width: 1000px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}


/* =======================normal css================================= */
.nav_border {
    border: 1px solid #FFFFFF40;
    box-shadow: 0px 0px 11.6px 4px #FFFFFF0D;
    background: #FFFFFF0A;
    border-radius: 107px;
}

.max-w-321 {
    max-width: 321px;
}

.footer_underline {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 1);
    height: 1px;
    opacity: 20%;
}

.media_app {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.78px solid rgba(255, 255, 255, 1);
}

.company_card {
    min-height: 80px;
    max-width: 220px;
    background: rgba(94, 94, 94, 0.15);
    border: 1px solid;
    position: relative;
    border-radius: 6px;
}


.max-w-281 {
    max-width: 281px;
}

.token_card {
    position: relative;
    border-radius: 16px;
    border: none;
    padding: 20px;
    max-width: 558px;
}

.timeline_boxes {
    position: relative;
}

.timeline_boxes {
    max-width: 578px;
    background: linear-gradient(0deg, #000000, #000000),
        linear-gradient(180deg, rgba(37, 37, 203, 0) 0%, rgba(37, 37, 203, 0.24) 100%);
    padding: 24px;
}

.media_app {
    transition: all 300ms linear;
}

.image_wh_box {
    width: 160px;
    height: 160px;
    background: #FFFFFF1A;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 96.63px;
}

.max-w-273 {
    max-width: 273px;
}

.circle {
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #4D4545;
    max-height: 50px;
    z-index: 2;
    display: none;
}

.how-it-works.row {
    display: flex;
}

.how-it-works.row .col-2 {
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.in_sec_border {
    box-shadow: 0px 2px 34.3px 4px rgba(24, 83, 152, 0.28);
    background: linear-gradient(180deg, rgba(241, 22, 64, 0.24) 0%, rgba(33, 33, 129, 0.19) 64.12%, rgba(33, 33, 129, 0.18) 100%);
    border: none;
    position: relative;
    border-radius: 25px;
}


.in_sec_border::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 25px;
    padding: 4px;
    background: linear-gradient(92.76deg, rgba(241, 22, 64, 0.5) 0.29%, rgba(74, 18, 204, 0.5) 64.44%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


.timeline div {
    padding: 0;
    height: 88px;
}

hr {
    opacity: 1 !important;
}

.wh_changes_timeline_img {
    width: 100px;
    height: 100px;
}

.timeline hr {
    border-top: 3px dashed #fff;
    margin: 0;
    top: 41px;
    position: relative;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px dashed #fff;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}



.roadmap_line {
    position: relative;
}

.max-w-602 {
    max-width: 602px;
}

.bttn {
    position: relative;
    padding: 16px 32px 16px 32px;
    border-radius: 55px;
    background-color: rgba(241, 22, 64, 1);
    border: none;
}

.bttn_2 {
    position: relative;
    padding: 16px 32px 16px 32px;
    border-radius: 55px;
    border: 3px solid rgba(218, 12, 29, 1);
    background-color: transparent;
}

.nav_links {
    transition: all 200ms linear;
}

.max-w-580 {
    max-width: 580px;
}

.play_icon {
    width: 48px;
    height: 48px;
    background-color: var(--white-color);
    border-radius: 50%;
}

/* =========================bg-img========================== */
.header_bg_img {
    background-image: url("../img/png/hero_sec_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.coin_sec_bg_img {
    background-image: url("../img/png/coin_sec_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.staking_bg_img {
    background-image: url("../img/png/staking_sec_bg_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.in_sec_bg_img {
    background-image: url("../img/png/in_second_img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/*================================= spacing =========================*/

.pt_60 {
    padding-top: 60px;
}

.mt_40 {
    margin-top: 40px;
}

.pb_35 {
    padding-bottom: 35px;
}



/*========================== hover effect ======================*/
.nav_links:hover {
    opacity: 1 !important;
}

/* .media_app:hover {
    background: ;
} */

/*===================== after before ==========================*/
.bttn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 55px;
    padding: 3px;
    background: linear-gradient(0deg, #DA0C1D, #DA0C1D),
        linear-gradient(0deg, #DA0C1D, #DA0C1D);
    ;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.company_card::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    background: linear-gradient(92.76deg, rgba(241, 22, 64, 0.35) 0.29%, rgba(74, 18, 204, 0.35) 64.44%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after,
.how-it-works.row .col-2.top::after {
    display: none;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
    display: none;
}

.timeline_boxes::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: linear-gradient(0deg, #212181, #212181),
        linear-gradient(92.76deg, rgba(241, 22, 64, 0.5) 0.29%, rgba(74, 18, 204, 0.5) 64.44%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}




.token_card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 2px;
    background: linear-gradient(92.76deg, rgba(241, 22, 64, 0.5) 0.29%, rgba(74, 18, 204, 0.5) 64.44%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}



/*=================== media screen=================== */
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--black-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .menu-links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
        align-items: end;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }

    .timeline hr,
    .corner {
        display: none;
    }

    .full {
        position: absolute;
        left: 0;
        transform: translate(30px, 10px);
        z-index: 4;
    }

    .roadmap_line::after {
        position: absolute;
        content: "";
        height: 100%;
        border: 3px dashed var(--white-color);
        left: 12%;
        top: 10px;
    }

    .image_wh_box {
        width: 100px !important;
        height: 100px !important;
    }

    .wh_changes_timeline_img {
        width: 50px !important;
        height: 50px !important;
    }

    .opacity-lg-50 {
        opacity: 50%;
    }



}

@media (max-width:576px) {
    .flex-sm-wrap {
        flex-wrap: wrap;
    }

    .w-sm-100 {
        width: 100%;
    }

    .image_wh_box {
        width: 0 !important;
        height: 0 !important;
    }

    .full {
        transform: translate(-10px, 10px) !important;
    }

    .roadmap_line::after {
        left: 0 !important;
    }
}

@media (max-width:768px) {
    .full {
        transform: translate(7px, 10px);
    }

    .company_card {
        max-width: 100%;
    }
}


@media (min-width:576px) {
    .fs-sm-52 {
        font-size: var(--fs-52);
    }

    .lh-sm-72 {
        line-height: var(--lh-72);
    }

    .fs-sm-40 {
        font-size: var(--fs-40);
    }

    .lh-sm-54 {
        line-height: var(--lh-54);
    }

    .pt_sm_80 {
        padding-top: 80px !important;
    }

    .max-w-100 {
        max-width: 100%;
    }

    .min-lg-h-503 {
        min-height: 503px;
    }

    .pt_sm_50 {
        padding-top: 50px !important;
    }

    .pt_sm_70 {
        padding-top: 70px !important;
    }

    .pt-sm-100 {
        padding-top: 100px !important;
    }

    .pb-sm-70 {
        padding-bottom: 70px !important;
    }

    .token_card {
        padding: 30px;
    }

    .pt_sm_100 {
        padding-top: 100px !important;
    }

    .pb_sm_100 {
        padding-bottom: 100px !important;
    }

    .pt_sm_40 {
        padding-top: 40px !important;
    }
}

@media (min-width:992px) {
    .fs-lg-80 {
        font-size: var(--fs-80);
    }

    .pb_lg_140 {
        padding-bottom: 140px;
    }

    .pt_lg_98 {
        padding-top: 98px !important;
    }

    .lh-lg-86 {
        line-height: var(--lh-86);
    }

    .lh-lg-64 {
        line-height: var(--lh-64);
    }

    .fs-lg-52 {
        font-size: var(--fs-52);
    }

    .pt_lg_131 {
        padding-top: 181px !important;
    }

    .pb_lg_81 {
        padding-bottom: 81px !important;
    }

    .pt_lg_120 {
        padding-top: 120px !important;
    }

    .min-lg-vh-100 {
        min-height: 100vh;
    }

    .token_card {
        padding: 45px 43px 44px 43px;
    }

    .pt_lg_175 {
        padding-top: 175px !important;
    }

    .pb_lg_175 {
        padding-bottom: 175px !important;
    }

    .pt_lg_60 {
        padding-top: 60px !important;
    }

}

@media (min-width:768px) {
    .fs-md-20 {
        font-size: var(--fs-20);
    }

    .fs-md-24 {
        font-size: var(--fs-24);
    }
}